.small_icon{
    width:30px;
    height:30px;
}

.top{
    margin-top: 75px;
}

.profielfoto{
    top: 58%;
    left: 3%;
    height:144px;
    width:144px;
}

.editButton{
    top: 79%;
    left: 65%;
}

.followbutton{
    top: 81%;
    left:90%;
}

.profileheader{
    height:100%;
    width:100%;

}

body{
    background-color: lightgrey;
}

.back {
    background: #e2e2e2;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.div-center {
    width: 400px;
    height: 400px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
    border-bottom: 2px solid #ccc;
    display: table;
}

div.content {
    display: table-cell;
    vertical-align: middle;
}